<div class="container-fluid card login-container">
  <h3 class="text-center">create account</h3>
  <hr>
  <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
    <p *ngFor="let msg of errorMsg ">{{ msg }}</p>
  </div>
  <div class="mb-3">
    <label class="form-label">first name</label>
    <input [(ngModel)]="registerRequest.firstName" type="text" class="form-control" id="fn" placeholder="first name">
  </div>
  <div class="mb-3">
    <label class="form-label">last name</label>
    <input [(ngModel)]="registerRequest.lastName" type="text" class="form-control" id="ln" placeholder="last name">
  </div>
  <div class="mb-3">
    <label class="form-label">Email address</label>
    <input [(ngModel)]="registerRequest.email" type="email" class="form-control" id="login" placeholder="name@example.com">
  </div>

  <div class="mb-3">
    <label class="form-label"> password</label>
    <input [(ngModel)]="registerRequest.password" type="password" class="form-control" id="password" placeholder="password">
  </div>
  <div class="d-flex justify-content-between mb-3">
    <button (click)="register()" type="button" class="btn btn-primary">
      <em class="fas fa-sign-in-alt">&nbsp; register</em>
    </button>
    <div>
      Already have an account?&nbsp;
      <button (click)="login()" type="button" class="btn btn-primary">
        <em class="fas fa-sign-in-alt">&nbsp; login</em>
      </button>

    </div>

  </div>

</div>
