

<head>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
  <app-task-list class="divTaskList mt-4" *ngIf="list && !profile && !addTask"></app-task-list>
  <app-todo-form *ngIf="!list && !profile && addTask" ></app-todo-form>
  <app-profile *ngIf="!list && profile && !addTask" ></app-profile>
  <app-notif  *ngIf="!list && !profile && !addTask && notif"></app-notif>
<input type="checkbox" id="check">
<label for="check">
  <i class="fas fa-bars" id="btn"></i>
  <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">

    <header>Menu </header>


  <a routerLink="/task-list" class="active" (click)="list=true;profile=false;addTask=false">
    <i class="fas fa-qrcode"></i>
    <span>view tasks</span>
  </a>
  <a routerLink="/todo-form" (click)="list=false;profile=false;addTask=true">
    <i class="fas fa-plus"></i>
    <span>add a task</span>
  </a>
  <a routerLink="/notif" (click)="list=false;profile=false;addTask=false ;notif=true">
    <i class="fas fa-bell" ></i>
    <span>notifications</span>
  </a>

  <a routerLink="/login">
    <button class="btn btn-link" type="button" (click)="logout()"><i class="fas fa-door-open fs-3"></i></button>
    <span>log out</span>
  </a>
  <a routerLink="/profile" (click)="list=false;profile=true;addTask=false" >
    <i class="fas fa-person"></i>
    <span>profile</span>
  </a>
</div>


</body>
