<div class="example-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input

        matInput
        placeholder="pat@example.com"
        formControlName="email"
        (blur)="updateErrorMessage()"
        required
      />
      <mat-error *ngIf="email.invalid && email.touched">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input

        matInput
        type="password"
        placeholder="********"
        formControlName="password"
        required
      />
      <mat-error *ngIf="password.invalid && password.touched">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>

    <!-- Login Button -->
    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
